<div class="container">
  <h1 @headerIn>Task3</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Search a city</mat-label>
    <input
      [(ngModel)]="query"
      type="text"
      (keyup)="getCities()"
      matInput
      placeholder="Could be..."
    />
    <mat-icon data-petition *ngIf="isLoading">autorenew</mat-icon>
  </mat-form-field>
  <app-list
    class="example-full-width"
    *ngIf="isLoad"
    [loadedCities]="sendItems"
    (selectedCity)="showCity($event)"
  ></app-list>
</div>
