.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 4em;
  margin: 0;
  padding: 1em 0 1em 1em;
}
.example-full-width {
  display: block;
  margin: 0 auto;
  height: max-content;
  width: 333px;
}

@keyframes onPetition {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

mat-icon[data-petition] {
  color: rgb(0, 123, 255);
  position: absolute;
  animation-name: onPetition;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
}
